<section>
  <div class="card">
    <h2>Привет</h2>
    <p>Я уже довольно продолжительное время занимаюсь этими вашими IT.</p>
    <p>Помню времена, когда системы были сплошь монолитными, интеграции через файлообмен были в порядке вещей, а сервера
      могли работать на ОС от Microsoft.</p>
    <p>Начиная с 2012 года я работал с системами ДБО ЮЛ. Сейчас работаю системным аналитиком на один крупный банк с
      синим логотипом, где участвую в развитии функционала по управлению услугами и договорами – заполняю всякие
      артефакты, описываю необходимые доработки по уже имеющимся интеграциям и участвую в создании новых.</p>
    <p>В свободное время катаюсь на велосипеде, играю в видеоигры на ПК, слушаю музыку или читаю.</p>
    <p>Иногда фотографирую 📸</p>
    <p>А ещё у меня есть жена, дочка (которой сейчас
      <script src="{{ '/assets/js/sva-age.js' | relative_url }}"></script>) и 5 котов 🐈
    </p>
  </div>
</section>
