<section>
  <div class="card">
    <h2>Контакты</h2>
    <p class="smart-justify">Если нужно связаться со мной, то можете использовать <a
        href="https://t.me/asoloveff">нормальный мессенджеры</a>, а так же старую добрую <a class="no-line-breaks" href="mailto:a@soloveff.ru">электронную почту</a>.
    </p>
    <p class="smart-justify">Если хотите можете подписаться на мои <a
        href="https://vk.com/asoloveff">профиль в Vk</a> и <a class="no-line-breaks"
        href="https://nowapp.me/asoloveff">аккаунт в Now</a>. Вдруг там появится что-нибудь интересное.</p>
  </div>
</section>
